{
 "openapi": "3.0.1",
 "info": {
  "title": "PayConex 4",
  "description": ".",
  "contact": {
   "email": "support@payconex.net"
  },
  "version": "4.0.1"
 },
 "externalDocs": {
  "description": "Find out more about PayConex",
  "url": "https://developers.bluefin.com/payconex"
 },
 "servers": [
  {
   "url": "https://api.payconex.net/"
  }
 ],
 "tags": [
  {
   "name": "ApplePay",
   "description": "Manage Apple Pay"
  },
  {
   "name": "Card Payments",
   "description": "Set of APIs to process card present transaction."
  },
  {
   "name": "API Keys",
   "description": "Set of APIs to manage API keys."
  },
  {
   "name": "AccountUpdater",
   "description": "Set of Account Updater APIs"
  },
  {
   "name": "Webhooks",
   "description": "Set of APIs for managing notification webhooks"
  },
  {
   "name": "Dynamic Descriptors",
   "description": "Set the dynamic descriptors."
  }
 ],
 "paths": {
  "/api/v4/accounts/{accountId}/applePay/enrollment": {
   "get": {
    "tags": [
     "ApplePay"
    ],
    "summary": "Get merchant details",
    "description": "Get Apple Pay details for an account\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:apple_pay:*`\n* `pcx:apple_pay:account:*`\n* `pcx:apple_pay:account:view`",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "accountId",
      "schema": {
       "type": "integer",
       "pattern": "^\\d{12}$"
      },
      "required": true,
      "description": "Numeric ID of the account to get"
     }
    ],
    "operationId": "getApplePayAccountById",
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplePayMerchantDetails"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "ApplePay"
    ],
    "summary": "Register Domains",
    "description": "Enroll an account with Apple Pay\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:apple_pay:*`\n* `pcx:apple_pay:account:*`\n* `pcx:apple_pay:account:create`",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "accountId",
      "schema": {
       "type": "integer",
       "pattern": "^\\d{12}$"
      },
      "required": true,
      "description": "Numeric ID of the account to be registered"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "domains": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "url"
          }
         },
         "merchantUrl": {
          "type": "string"
         }
        },
        "required": [
         "domains"
        ]
       }
      }
     }
    },
    "operationId": "registerApplePayDomains",
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplePayMerchantDetails"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/applePay/session": {
   "post": {
    "tags": [
     "ApplePay"
    ],
    "security": [],
    "summary": "Get an Apple Pay Session for a merchant account (To be used from a merchant integration)",
    "description": "Get an Apple Pay session for a merchant to use\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:apple_pay:*`\n* `pcx:apple_pay:session:get`",
    "operationId": "getApplePaySession",
    "parameters": [
     {
      "in": "path",
      "name": "accountId",
      "schema": {
       "type": "integer",
       "pattern": "^\\d{12}$"
      },
      "required": true,
      "description": "Numeric ID of the account to get"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "display_name": {
          "type": "string",
          "description": "The name to be displayed on the payment sheet"
         },
         "referrer": {
          "type": "string",
          "description": "The domain that the button will be loaded on"
         }
        },
        "required": [
         "referrer"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetApplePaySessionResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/3DS/init-card-details": {
   "post": {
    "tags": [
     "Bluefin 3DS"
    ],
    "summary": "Init Bluefin 3ds with card details",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "threeDSecureBrowserAuthInitWithCardDetailsId",
    "description": "# Bluefin 3ds\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:three_d_secure:init:create`\n* `pcx:three_d_secure:*`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "description": "???",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "pan",
         "expiry"
        ],
        "properties": {
         "pan": {
          "type": "string",
          "format": "number",
          "minLength": 13,
          "maxLength": 19,
          "example": "4444333322221111"
         },
         "expiry": {
          "type": "string",
          "example": "1233",
          "description": "The expiration date of the card",
          "pattern": "^[\\d]{3,4}$"
         },
         "cvv": {
          "type": "string",
          "format": "number",
          "minLength": 3,
          "maxLength": 4,
          "example": "555"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "browser init call response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ThreeDSecureBrowserInit"
        }
       }
      }
     },
     "204": {
      "description": "Successful operation (not final)"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/3DS/{resourceId}/browser-authenticate": {
   "post": {
    "tags": [
     "Bluefin 3DS"
    ],
    "summary": "Make Authorization Request",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "threeDSecureBrowserAuthId",
    "description": "# Bluefin 3ds\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:three_d_secure:init:create`\n* `pcx:three_d_secure:*`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     },
     {
      "name": "resourceId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "tds_23d0e53de3c64e94887116da65abc8ce",
       "pattern": "^tds_[0-9a-fA-F]{32}$"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "description": "???",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ThreeDSecureBrowserAuthenticate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ThreeDSecureAuthResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/3DS/{resourceId}/status": {
   "get": {
    "tags": [
     "Bluefin 3DS"
    ],
    "summary": "Make Authorization Request",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "threeDSecureStatusId",
    "description": "# Bluefin 3ds\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:three_d_secure:status:read`\n* `pcx:three_d_secure:*`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     },
     {
      "name": "resourceId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "tds_23d0e53de3c64e94887116da65abc8ce",
       "pattern": "^tds_[0-9a-fA-F]{32}$"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ThreeDSecureStatusResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/payments/init": {
   "post": {
    "tags": [
     "Card Payments"
    ],
    "summary": "Create a transaction entry in database and set some data.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "initCardPaymentTransaction",
    "description": "Create a transaction entry in database and set some data.\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:payments:*`\n* `pcx:payments:create`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     }
    ],
    "requestBody": {
     "description": "Transaction Details.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TransactionMeta"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The payment was created successfully",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InitResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/payments/{transactionId}": {
   "get": {
    "tags": [
     "Card Payments"
    ],
    "summary": "Retrieve transaction details.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "getTransaction",
    "description": "Retrieve transaction details.\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:payments:*`\n* `pcx:payments:read`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     },
     {
      "name": "transactionId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": 1861,
       "pattern": "^\\d{12}$"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Response Object",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TransactionDetails"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "404": {
      "description": "The requested resource cannot be found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "The requested entity was not found",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "not_found",
         "errorCode": 40005,
         "value": "000000000001",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Card Payments"
    ],
    "summary": "Update Level 3 data or update a transaction meta-data.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "updateTransactionDetails",
    "description": "Update Level 3 data or update a transaction meta-data.\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:payments:*`\n* `pcx:payments:update`",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     },
     {
      "name": "transactionId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": 1861,
       "pattern": "^\\d{12}$"
      }
     }
    ],
    "requestBody": {
     "description": "Account Details.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TransactionUpdate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Response Object",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TransactionDetails"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "404": {
      "description": "The requested resource cannot be found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "The requested entity was not found",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "not_found",
         "errorCode": 40005,
         "value": "000000000001",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/api-keys": {
   "get": {
    "tags": [
     "API Keys"
    ],
    "summary": "List api keys.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "listApiKeys",
    "description": "# List API Keys\n\nEndpoint to list API Keys.\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:api_key:*`\n* `pcx:api_key:read`",
    "parameters": [
     {
      "$ref": "#/components/parameters/AccountId"
     },
     {
      "$ref": "#/components/parameters/SearchPage"
     },
     {
      "$ref": "#/components/parameters/SearchLimit"
     },
     {
      "$ref": "#/components/parameters/SearchQuery"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "headers": {
       "X-First-Page-Url": {
        "$ref": "#/components/headers/X-First-Page-Url"
       },
       "X-Last-Page-Url": {
        "$ref": "#/components/headers/X-Last-Page-Url"
       },
       "X-Prev-Page-Url": {
        "$ref": "#/components/headers/X-Prev-Page-Url"
       },
       "X-Next-Page-Url": {
        "$ref": "#/components/headers/X-Next-Page-Url"
       },
       "X-Links": {
        "$ref": "#/components/headers/X-Links"
       },
       "X-Path": {
        "$ref": "#/components/headers/X-Path"
       },
       "X-Current_page": {
        "$ref": "#/components/headers/X-Current_page"
       },
       "X-Last-Page": {
        "$ref": "#/components/headers/X-Last-Page"
       },
       "X-Total": {
        "$ref": "#/components/headers/X-Total"
       },
       "X-Per-Page": {
        "$ref": "#/components/headers/X-Per-Page"
       },
       "X-Total-In-This-Page": {
        "$ref": "#/components/headers/X-Total-In-This-Page"
       },
       "X-From": {
        "$ref": "#/components/headers/X-From"
       },
       "X-To": {
        "$ref": "#/components/headers/X-To"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ApiKey"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "API Keys"
    ],
    "summary": "Create api key.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "createApiKey",
    "description": "# Create an API Key\n\nEndpoint to create an API Key.\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:api_key:*`\n* `pcx:api_key:create`\n# Scope documentation\n\n| **Scope**                              | **Description**                                    |\n|---------------------------------------|------------------------------------|\n| `pcx:account_updater:*`                |Perform all Account Updater actions                 |\n| `pcx:account_updater:results:*`        |Perform all Account Updater results actions         |\n| `pcx:account_updater:results:read`     |View Account Updater results                        |\n| `pcx:account_updater:schedules:create` |Create an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:delete` |Delete an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:patch`  |Update an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:post`   |Add data to Account Updater Schedule                |\n| `pcx:admin:cache`                      |Interact with memory cache                          |\n| `pcx:admin:nats`                       |Interact with nats.io cluster                       |\n| `pcx:api_key:*`                        |Perform all API Key actions                         |\n| `pcx:api_key:create`                   |Create API Key                                      |\n| `pcx:api_key:delete`                   |Delete API Key                                      |\n| `pcx:api_key:read`                     |View API Key settings                               |\n| `pcx:api_key:update`                   |Update API Key settings                             |\n| `pcx:api_key_scopes:read`              |Read API Scopes                                     |\n| `pcx:apple_pay:*`                      |Perform all Apple Pay actions                       |\n| `pcx:apple_pay:account:*`              |Perform all actions on Apple Pay Accounts           |\n| `pcx:apple_pay:account:create`         |Create an Apple Pay Account                         |\n| `pcx:apple_pay:account:view`           |View an Apple Pay Account settings                  |\n| `pcx:apple_pay:session:get`            |Fetch an ApplePay session                           |\n| `pcx:auth:bearer:*`                    |Issue user bearer tokens                            |\n| `pcx:auth:pointconex-bearer`           |Issue a bearer token for the PointConex app         |\n| `pcx:auth:pointconex-pos-bearer`       |Issue a bearer token for a PointConex POS           |\n| `pcx:auth:token`                       |Issue a bearer token for a Authentication           |\n| `pcx:auth:wssg-admin-bearer`           |Issue a bearer token to WSSG Admins                 |\n| `pcx:batch:manual-settlement`          |Manual Batch Settlement Trigger                     |\n| `pcx:card_bins:*`                      |Perform all Card Bins actions                       |\n| `pcx:card_bins:read`                   |Fetch a list of a Card Bins                         |\n| `pcx:detokenize:ach:create`            |Detokenize ach data                                 |\n| `pcx:detokenize:card:create`           |Detokenize card data                                |\n| `pcx:detokenize:gpay:create`           |Detokenize Gpay data                                |\n| `pcx:device_profile:read`              |Read Device Profile                                 |\n| `pcx:devices:*`                        |Perform all Devices actions                         |\n| `pcx:devices:create`                   |Create a Device                                     |\n| `pcx:devices:delete`                   |Delete a Device                                     |\n| `pcx:devices:read`                     |Fetch a list or a single Device                     |\n| `pcx:devices:update`                   |Update a Device details                             |\n| `pcx:dynamic_descriptors:*`            |Perform all Dynamic Descriptor actions              |\n| `pcx:dynamic_descriptors:create`       |Create a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:delete`       |Delete a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:read`         |View a Dynamic Descriptor details                   |\n| `pcx:dynamic_descriptors:update`       |Update a Dynamic Descriptor                         |\n| `pcx:epic_payment_page:*`              |Perform all epic payment page                       |\n| `pcx:epic_payment_page:complete`       |Complete epic payment page transaction              |\n| `pcx:epic_payment_page:init`           |Initialize payment page transaction                 |\n| `pcx:epic_payment_page:trace`          |Consumes Debug information related to epic payment page transaction|\n| `pcx:epic_payment_page_config:*`       |Perform all epic payment page config                |\n| `pcx:epic_payment_page_config:create`  |Create epic payment page config                     |\n| `pcx:epic_payment_page_config:delete`  |Delete epic payment page config                     |\n| `pcx:epic_payment_page_config:read`    |Fetch payment page config                           |\n| `pcx:epic_payment_page_config:update`  |Update epic payment page config                     |\n| `pcx:iframe:*`                         |Perform all secure iframe checkout related actions  |\n| `pcx:iframe:create`                    |Create a secure iframe checkout                     |\n| `pcx:iframe:delete`                    |Delete a secure iframe checkout                     |\n| `pcx:iframe:instance:*`                |Perform all secure iframe checkout instance actions |\n| `pcx:iframe:instance:create`           |Create a secure iframe checkout instance            |\n| `pcx:iframe:instance:read`             |View a secure iframe checkout instance details      |\n| `pcx:iframe:instance:tokenize-ach`     |Tokenize ACH Payment details                        |\n| `pcx:iframe:instance:tokenize-card`    |Tokenize Card Payment details                       |\n| `pcx:iframe:instance:tokenize-ctp`     |Tokenize Mastercard Click To Pay details            |\n| `pcx:iframe:instance:tokenize-gpay`    |Tokenize Google Payment details                     |\n| `pcx:iframe:read`                      |View a secure iframe checkout details               |\n| `pcx:iframe:update`                    |Update a secure iframe checkout settings            |\n| `pcx:level3_profiles:*`                |Perform all Level3 Profile actions                  |\n| `pcx:level3_profiles:create`           |Create a Level3 Profile                             |\n| `pcx:level3_profiles:delete`           |Delete a Level3 Profile                             |\n| `pcx:level3_profiles:read`             |Fetch a list or a single Level3 Profile             |\n| `pcx:level3_profiles:update`           |Update a Level3 Profile details                     |\n| `pcx:payments:*`                       |Perform all Payment related actions                 |\n| `pcx:payments:ach:*`                   |Process ACH Payments                                |\n| `pcx:payments:ach:refund`              |Process ACH Refunds                                 |\n| `pcx:payments:ach:sale`                |Process ACH Sale Payments                           |\n| `pcx:payments:ach:store`               |Process ACH Store Payments                          |\n| `pcx:payments:capture`                 |Capture an Authorization                            |\n| `pcx:payments:card_not_present:*`      |Process Card Not Present Payments                   |\n| `pcx:payments:card_not_present:auth`   |Process Card Not Present Auth transactions          |\n| `pcx:payments:card_not_present:credit` |Process Card Not Present Credit transactions        |\n| `pcx:payments:card_not_present:force`  |Process Card Not Present Force transactions         |\n| `pcx:payments:card_not_present:sale`   |Process Card Not Present Sale transactions          |\n| `pcx:payments:card_not_present:store`  |Process Card Not Present Store transactions         |\n| `pcx:payments:create`                  |Initialize a Payment                                |\n| `pcx:payments:device:*`                |Process Device Payments                             |\n| `pcx:payments:device:auth`             |Process Device Auth transactions                    |\n| `pcx:payments:device:credit`           |Process Device Credit transactions                  |\n| `pcx:payments:device:force`            |Process Device Force transactions                   |\n| `pcx:payments:device:sale`             |Process Device Sale transactions                    |\n| `pcx:payments:device:store`            |Process Device Store transactions                   |\n| `pcx:payments:read`                    |View Payment Details                                |\n| `pcx:payments:refund`                  |Refund a Payment                                    |\n| `pcx:payments:twilio`                  |Process a twillio Payment                           |\n| `pcx:payments:update`                  |Update a Payment                                    |\n| `pcx:pointconex:*`                     |Send all PointConex commands                        |\n| `pcx:pointconex:auth`                  |Send a auth command to a PointConex app             |\n| `pcx:pointconex:cancel`                |Send a cancel command to a PointConex app           |\n| `pcx:pointconex:credit`                |Send a credit command to a PointConex app           |\n| `pcx:pointconex:custom_print`          |Send a custom receipt print command to a PointConex app|\n| `pcx:pointconex:force`                 |Send a force command to a PointConex app            |\n| `pcx:pointconex:list_transactions`     |Send a list transaction command to a PointConex app |\n| `pcx:pointconex:poslink`               |Send a poslink command to a PointConex app          |\n| `pcx:pointconex:reboot`                |Send a reboot command to a PointConex app           |\n| `pcx:pointconex:refund`                |Send a refund transaction command to a PointConex app|\n| `pcx:pointconex:sale`                  |Send a sale command to a PointConex app             |\n| `pcx:pointconex:show_dialog`           |Send a show dialog command to a PointConex app      |\n| `pcx:pointconex:status`                |Send a status command to a PointConex app           |\n| `pcx:status:*`                         |Perform all Status related actions                  |\n| `pcx:status:nats`                      |View nats status details                            |\n| `pcx:three_d_secure:*`                 |3DS All Scopes                                      |\n| `pcx:three_d_secure:init:create`       |3DS Init Browser Authenticate                       |\n| `pcx:three_d_secure:no_scope`          |Un Authenticated API call                           |\n| `pcx:three_d_secure:status:read`       |3DS Status check                                    |\n| `pcx:tokenize:*`                       |Tokenize all types of payment data                  |\n| `pcx:tokenize:ach`                     |Tokenize ach data                                   |\n| `pcx:tokenize:card`                    |Tokenize card data                                  |\n| `pcx:webhooks:*`                       |Perform all Webhook related actions                 |\n| `pcx:webhooks:create`                  |Create a Webhook                                    |\n| `pcx:webhooks:delete`                  |Delete a Webhook                                    |\n| `pcx:webhooks:read`                    |View Webhook details                                |\n| `pcx:webhooks:trigger`                 |Trigger a Webhook                                   |\n| `pcx:webhooks:update`                  |Update a Webhook                                    |\n",
    "parameters": [
     {
      "name": "accountId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "120615523104",
       "pattern": "^\\d{12}$"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "description": "Create API Key Body",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateApiKeyRequest"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response Object",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiKeyExtended"
        }
       }
      },
      "links": {
       "GetAPIKey": {
        "description": "The `id` value returned in the response can be used as the `apiKeyId` parameter in `GET /api/v4/accounts/{accountId}/api-keys/{resourceId}`",
        "operationId": "getApiKey",
        "parameters": {
         "apiKeyId": "$response.body#/id"
        }
       },
       "UpdateAPIKey": {
        "description": "The `id` value returned in the response can be used as the `apiKeyId` parameter in `PATCH /api/v4/accounts/{accountId}/api-keys/{resourceId}`",
        "operationId": "updateApiKey",
        "parameters": {
         "apiKeyId": "$response.body#/id"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/api/v4/accounts/{accountId}/api-keys/{resourceId}": {
   "get": {
    "tags": [
     "API Keys"
    ],
    "summary": "Retrieve api key details.",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "getApiKey",
    "description": "# Get an API Key\n\nEndpoint to view an API Key's details.\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:api_key:*`\n* `pcx:api_key:read`\n# Scope documentation\n\n| **Scope**                              | **Description**                                    |\n|---------------------------------------|------------------------------------|\n| `pcx:account_updater:*`                |Perform all Account Updater actions                 |\n| `pcx:account_updater:results:*`        |Perform all Account Updater results actions         |\n| `pcx:account_updater:results:read`     |View Account Updater results                        |\n| `pcx:account_updater:schedules:create` |Create an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:delete` |Delete an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:patch`  |Update an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:post`   |Add data to Account Updater Schedule                |\n| `pcx:admin:cache`                      |Interact with memory cache                          |\n| `pcx:admin:nats`                       |Interact with nats.io cluster                       |\n| `pcx:api_key:*`                        |Perform all API Key actions                         |\n| `pcx:api_key:create`                   |Create API Key                                      |\n| `pcx:api_key:delete`                   |Delete API Key                                      |\n| `pcx:api_key:read`                     |View API Key settings                               |\n| `pcx:api_key:update`                   |Update API Key settings                             |\n| `pcx:api_key_scopes:read`              |Read API Scopes                                     |\n| `pcx:apple_pay:*`                      |Perform all Apple Pay actions                       |\n| `pcx:apple_pay:account:*`              |Perform all actions on Apple Pay Accounts           |\n| `pcx:apple_pay:account:create`         |Create an Apple Pay Account                         |\n| `pcx:apple_pay:account:view`           |View an Apple Pay Account settings                  |\n| `pcx:apple_pay:session:get`            |Fetch an ApplePay session                           |\n| `pcx:auth:bearer:*`                    |Issue user bearer tokens                            |\n| `pcx:auth:pointconex-bearer`           |Issue a bearer token for the PointConex app         |\n| `pcx:auth:pointconex-pos-bearer`       |Issue a bearer token for a PointConex POS           |\n| `pcx:auth:token`                       |Issue a bearer token for a Authentication           |\n| `pcx:auth:wssg-admin-bearer`           |Issue a bearer token to WSSG Admins                 |\n| `pcx:batch:manual-settlement`          |Manual Batch Settlement Trigger                     |\n| `pcx:card_bins:*`                      |Perform all Card Bins actions                       |\n| `pcx:card_bins:read`                   |Fetch a list of a Card Bins                         |\n| `pcx:detokenize:ach:create`            |Detokenize ach data                                 |\n| `pcx:detokenize:card:create`           |Detokenize card data                                |\n| `pcx:detokenize:gpay:create`           |Detokenize Gpay data                                |\n| `pcx:device_profile:read`              |Read Device Profile                                 |\n| `pcx:devices:*`                        |Perform all Devices actions                         |\n| `pcx:devices:create`                   |Create a Device                                     |\n| `pcx:devices:delete`                   |Delete a Device                                     |\n| `pcx:devices:read`                     |Fetch a list or a single Device                     |\n| `pcx:devices:update`                   |Update a Device details                             |\n| `pcx:dynamic_descriptors:*`            |Perform all Dynamic Descriptor actions              |\n| `pcx:dynamic_descriptors:create`       |Create a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:delete`       |Delete a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:read`         |View a Dynamic Descriptor details                   |\n| `pcx:dynamic_descriptors:update`       |Update a Dynamic Descriptor                         |\n| `pcx:epic_payment_page:*`              |Perform all epic payment page                       |\n| `pcx:epic_payment_page:complete`       |Complete epic payment page transaction              |\n| `pcx:epic_payment_page:init`           |Initialize payment page transaction                 |\n| `pcx:epic_payment_page:trace`          |Consumes Debug information related to epic payment page transaction|\n| `pcx:epic_payment_page_config:*`       |Perform all epic payment page config                |\n| `pcx:epic_payment_page_config:create`  |Create epic payment page config                     |\n| `pcx:epic_payment_page_config:delete`  |Delete epic payment page config                     |\n| `pcx:epic_payment_page_config:read`    |Fetch payment page config                           |\n| `pcx:epic_payment_page_config:update`  |Update epic payment page config                     |\n| `pcx:iframe:*`                         |Perform all secure iframe checkout related actions  |\n| `pcx:iframe:create`                    |Create a secure iframe checkout                     |\n| `pcx:iframe:delete`                    |Delete a secure iframe checkout                     |\n| `pcx:iframe:instance:*`                |Perform all secure iframe checkout instance actions |\n| `pcx:iframe:instance:create`           |Create a secure iframe checkout instance            |\n| `pcx:iframe:instance:read`             |View a secure iframe checkout instance details      |\n| `pcx:iframe:instance:tokenize-ach`     |Tokenize ACH Payment details                        |\n| `pcx:iframe:instance:tokenize-card`    |Tokenize Card Payment details                       |\n| `pcx:iframe:instance:tokenize-ctp`     |Tokenize Mastercard Click To Pay details            |\n| `pcx:iframe:instance:tokenize-gpay`    |Tokenize Google Payment details                     |\n| `pcx:iframe:read`                      |View a secure iframe checkout details               |\n| `pcx:iframe:update`                    |Update a secure iframe checkout settings            |\n| `pcx:level3_profiles:*`                |Perform all Level3 Profile actions                  |\n| `pcx:level3_profiles:create`           |Create a Level3 Profile                             |\n| `pcx:level3_profiles:delete`           |Delete a Level3 Profile                             |\n| `pcx:level3_profiles:read`             |Fetch a list or a single Level3 Profile             |\n| `pcx:level3_profiles:update`           |Update a Level3 Profile details                     |\n| `pcx:payments:*`                       |Perform all Payment related actions                 |\n| `pcx:payments:ach:*`                   |Process ACH Payments                                |\n| `pcx:payments:ach:refund`              |Process ACH Refunds                                 |\n| `pcx:payments:ach:sale`                |Process ACH Sale Payments                           |\n| `pcx:payments:ach:store`               |Process ACH Store Payments                          |\n| `pcx:payments:capture`                 |Capture an Authorization                            |\n| `pcx:payments:card_not_present:*`      |Process Card Not Present Payments                   |\n| `pcx:payments:card_not_present:auth`   |Process Card Not Present Auth transactions          |\n| `pcx:payments:card_not_present:credit` |Process Card Not Present Credit transactions        |\n| `pcx:payments:card_not_present:force`  |Process Card Not Present Force transactions         |\n| `pcx:payments:card_not_present:sale`   |Process Card Not Present Sale transactions          |\n| `pcx:payments:card_not_present:store`  |Process Card Not Present Store transactions         |\n| `pcx:payments:create`                  |Initialize a Payment                                |\n| `pcx:payments:device:*`                |Process Device Payments                             |\n| `pcx:payments:device:auth`             |Process Device Auth transactions                    |\n| `pcx:payments:device:credit`           |Process Device Credit transactions                  |\n| `pcx:payments:device:force`            |Process Device Force transactions                   |\n| `pcx:payments:device:sale`             |Process Device Sale transactions                    |\n| `pcx:payments:device:store`            |Process Device Store transactions                   |\n| `pcx:payments:read`                    |View Payment Details                                |\n| `pcx:payments:refund`                  |Refund a Payment                                    |\n| `pcx:payments:twilio`                  |Process a twillio Payment                           |\n| `pcx:payments:update`                  |Update a Payment                                    |\n| `pcx:pointconex:*`                     |Send all PointConex commands                        |\n| `pcx:pointconex:auth`                  |Send a auth command to a PointConex app             |\n| `pcx:pointconex:cancel`                |Send a cancel command to a PointConex app           |\n| `pcx:pointconex:credit`                |Send a credit command to a PointConex app           |\n| `pcx:pointconex:custom_print`          |Send a custom receipt print command to a PointConex app|\n| `pcx:pointconex:force`                 |Send a force command to a PointConex app            |\n| `pcx:pointconex:list_transactions`     |Send a list transaction command to a PointConex app |\n| `pcx:pointconex:poslink`               |Send a poslink command to a PointConex app          |\n| `pcx:pointconex:reboot`                |Send a reboot command to a PointConex app           |\n| `pcx:pointconex:refund`                |Send a refund transaction command to a PointConex app|\n| `pcx:pointconex:sale`                  |Send a sale command to a PointConex app             |\n| `pcx:pointconex:show_dialog`           |Send a show dialog command to a PointConex app      |\n| `pcx:pointconex:status`                |Send a status command to a PointConex app           |\n| `pcx:status:*`                         |Perform all Status related actions                  |\n| `pcx:status:nats`                      |View nats status details                            |\n| `pcx:three_d_secure:*`                 |3DS All Scopes                                      |\n| `pcx:three_d_secure:init:create`       |3DS Init Browser Authenticate                       |\n| `pcx:three_d_secure:no_scope`          |Un Authenticated API call                           |\n| `pcx:three_d_secure:status:read`       |3DS Status check                                    |\n| `pcx:tokenize:*`                       |Tokenize all types of payment data                  |\n| `pcx:tokenize:ach`                     |Tokenize ach data                                   |\n| `pcx:tokenize:card`                    |Tokenize card data                                  |\n| `pcx:webhooks:*`                       |Perform all Webhook related actions                 |\n| `pcx:webhooks:create`                  |Create a Webhook                                    |\n| `pcx:webhooks:delete`                  |Delete a Webhook                                    |\n| `pcx:webhooks:read`                    |View Webhook details                                |\n| `pcx:webhooks:trigger`                 |Trigger a Webhook                                   |\n| `pcx:webhooks:update`                  |Update a Webhook                                    |\n",
    "parameters": [
     {
      "$ref": "#/components/parameters/AccountId"
     },
     {
      "$ref": "#/components/parameters/ApiKeyId"
     }
    ],
    "responses": {
     "200": {
      "description": "Response Object",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiKeyExtended"
        }
       }
      },
      "links": {
       "UpdateAPIKey": {
        "description": "The `id` value returned in the response can be used as the `apiKeyId` parameter in `PATCH /api/v4/accounts/{accountId}/api-keys/{resourceId}`",
        "operationId": "updateApiKey",
        "parameters": {
         "apiKeyId": "$response.body#/id"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "API Keys"
    ],
    "summary": "Update an API Key",
    "security": [
     {
      "basicAuth": []
     }
    ],
    "operationId": "updateApiKey",
    "description": "# Update an API Key\n\nEndpoint to update an API Key.\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:api_key:*`\n* `pcx:api_key:update`\n# Scope documentation\n\n| **Scope**                              | **Description**                                    |\n|---------------------------------------|------------------------------------|\n| `pcx:account_updater:*`                |Perform all Account Updater actions                 |\n| `pcx:account_updater:results:*`        |Perform all Account Updater results actions         |\n| `pcx:account_updater:results:read`     |View Account Updater results                        |\n| `pcx:account_updater:schedules:create` |Create an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:delete` |Delete an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:patch`  |Update an Account Updater Schedule                  |\n| `pcx:account_updater:schedules:post`   |Add data to Account Updater Schedule                |\n| `pcx:admin:cache`                      |Interact with memory cache                          |\n| `pcx:admin:nats`                       |Interact with nats.io cluster                       |\n| `pcx:api_key:*`                        |Perform all API Key actions                         |\n| `pcx:api_key:create`                   |Create API Key                                      |\n| `pcx:api_key:delete`                   |Delete API Key                                      |\n| `pcx:api_key:read`                     |View API Key settings                               |\n| `pcx:api_key:update`                   |Update API Key settings                             |\n| `pcx:api_key_scopes:read`              |Read API Scopes                                     |\n| `pcx:apple_pay:*`                      |Perform all Apple Pay actions                       |\n| `pcx:apple_pay:account:*`              |Perform all actions on Apple Pay Accounts           |\n| `pcx:apple_pay:account:create`         |Create an Apple Pay Account                         |\n| `pcx:apple_pay:account:view`           |View an Apple Pay Account settings                  |\n| `pcx:apple_pay:session:get`            |Fetch an ApplePay session                           |\n| `pcx:auth:bearer:*`                    |Issue user bearer tokens                            |\n| `pcx:auth:pointconex-bearer`           |Issue a bearer token for the PointConex app         |\n| `pcx:auth:pointconex-pos-bearer`       |Issue a bearer token for a PointConex POS           |\n| `pcx:auth:token`                       |Issue a bearer token for a Authentication           |\n| `pcx:auth:wssg-admin-bearer`           |Issue a bearer token to WSSG Admins                 |\n| `pcx:batch:manual-settlement`          |Manual Batch Settlement Trigger                     |\n| `pcx:card_bins:*`                      |Perform all Card Bins actions                       |\n| `pcx:card_bins:read`                   |Fetch a list of a Card Bins                         |\n| `pcx:detokenize:ach:create`            |Detokenize ach data                                 |\n| `pcx:detokenize:card:create`           |Detokenize card data                                |\n| `pcx:detokenize:gpay:create`           |Detokenize Gpay data                                |\n| `pcx:device_profile:read`              |Read Device Profile                                 |\n| `pcx:devices:*`                        |Perform all Devices actions                         |\n| `pcx:devices:create`                   |Create a Device                                     |\n| `pcx:devices:delete`                   |Delete a Device                                     |\n| `pcx:devices:read`                     |Fetch a list or a single Device                     |\n| `pcx:devices:update`                   |Update a Device details                             |\n| `pcx:dynamic_descriptors:*`            |Perform all Dynamic Descriptor actions              |\n| `pcx:dynamic_descriptors:create`       |Create a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:delete`       |Delete a Dynamic Descriptor                         |\n| `pcx:dynamic_descriptors:read`         |View a Dynamic Descriptor details                   |\n| `pcx:dynamic_descriptors:update`       |Update a Dynamic Descriptor                         |\n| `pcx:epic_payment_page:*`              |Perform all epic payment page                       |\n| `pcx:epic_payment_page:complete`       |Complete epic payment page transaction              |\n| `pcx:epic_payment_page:init`           |Initialize payment page transaction                 |\n| `pcx:epic_payment_page:trace`          |Consumes Debug information related to epic payment page transaction|\n| `pcx:epic_payment_page_config:*`       |Perform all epic payment page config                |\n| `pcx:epic_payment_page_config:create`  |Create epic payment page config                     |\n| `pcx:epic_payment_page_config:delete`  |Delete epic payment page config                     |\n| `pcx:epic_payment_page_config:read`    |Fetch payment page config                           |\n| `pcx:epic_payment_page_config:update`  |Update epic payment page config                     |\n| `pcx:iframe:*`                         |Perform all secure iframe checkout related actions  |\n| `pcx:iframe:create`                    |Create a secure iframe checkout                     |\n| `pcx:iframe:delete`                    |Delete a secure iframe checkout                     |\n| `pcx:iframe:instance:*`                |Perform all secure iframe checkout instance actions |\n| `pcx:iframe:instance:create`           |Create a secure iframe checkout instance            |\n| `pcx:iframe:instance:read`             |View a secure iframe checkout instance details      |\n| `pcx:iframe:instance:tokenize-ach`     |Tokenize ACH Payment details                        |\n| `pcx:iframe:instance:tokenize-card`    |Tokenize Card Payment details                       |\n| `pcx:iframe:instance:tokenize-ctp`     |Tokenize Mastercard Click To Pay details            |\n| `pcx:iframe:instance:tokenize-gpay`    |Tokenize Google Payment details                     |\n| `pcx:iframe:read`                      |View a secure iframe checkout details               |\n| `pcx:iframe:update`                    |Update a secure iframe checkout settings            |\n| `pcx:level3_profiles:*`                |Perform all Level3 Profile actions                  |\n| `pcx:level3_profiles:create`           |Create a Level3 Profile                             |\n| `pcx:level3_profiles:delete`           |Delete a Level3 Profile                             |\n| `pcx:level3_profiles:read`             |Fetch a list or a single Level3 Profile             |\n| `pcx:level3_profiles:update`           |Update a Level3 Profile details                     |\n| `pcx:payments:*`                       |Perform all Payment related actions                 |\n| `pcx:payments:ach:*`                   |Process ACH Payments                                |\n| `pcx:payments:ach:refund`              |Process ACH Refunds                                 |\n| `pcx:payments:ach:sale`                |Process ACH Sale Payments                           |\n| `pcx:payments:ach:store`               |Process ACH Store Payments                          |\n| `pcx:payments:capture`                 |Capture an Authorization                            |\n| `pcx:payments:card_not_present:*`      |Process Card Not Present Payments                   |\n| `pcx:payments:card_not_present:auth`   |Process Card Not Present Auth transactions          |\n| `pcx:payments:card_not_present:credit` |Process Card Not Present Credit transactions        |\n| `pcx:payments:card_not_present:force`  |Process Card Not Present Force transactions         |\n| `pcx:payments:card_not_present:sale`   |Process Card Not Present Sale transactions          |\n| `pcx:payments:card_not_present:store`  |Process Card Not Present Store transactions         |\n| `pcx:payments:create`                  |Initialize a Payment                                |\n| `pcx:payments:device:*`                |Process Device Payments                             |\n| `pcx:payments:device:auth`             |Process Device Auth transactions                    |\n| `pcx:payments:device:credit`           |Process Device Credit transactions                  |\n| `pcx:payments:device:force`            |Process Device Force transactions                   |\n| `pcx:payments:device:sale`             |Process Device Sale transactions                    |\n| `pcx:payments:device:store`            |Process Device Store transactions                   |\n| `pcx:payments:read`                    |View Payment Details                                |\n| `pcx:payments:refund`                  |Refund a Payment                                    |\n| `pcx:payments:twilio`                  |Process a twillio Payment                           |\n| `pcx:payments:update`                  |Update a Payment                                    |\n| `pcx:pointconex:*`                     |Send all PointConex commands                        |\n| `pcx:pointconex:auth`                  |Send a auth command to a PointConex app             |\n| `pcx:pointconex:cancel`                |Send a cancel command to a PointConex app           |\n| `pcx:pointconex:credit`                |Send a credit command to a PointConex app           |\n| `pcx:pointconex:custom_print`          |Send a custom receipt print command to a PointConex app|\n| `pcx:pointconex:force`                 |Send a force command to a PointConex app            |\n| `pcx:pointconex:list_transactions`     |Send a list transaction command to a PointConex app |\n| `pcx:pointconex:poslink`               |Send a poslink command to a PointConex app          |\n| `pcx:pointconex:reboot`                |Send a reboot command to a PointConex app           |\n| `pcx:pointconex:refund`                |Send a refund transaction command to a PointConex app|\n| `pcx:pointconex:sale`                  |Send a sale command to a PointConex app             |\n| `pcx:pointconex:show_dialog`           |Send a show dialog command to a PointConex app      |\n| `pcx:pointconex:status`                |Send a status command to a PointConex app           |\n| `pcx:status:*`                         |Perform all Status related actions                  |\n| `pcx:status:nats`                      |View nats status details                            |\n| `pcx:three_d_secure:*`                 |3DS All Scopes                                      |\n| `pcx:three_d_secure:init:create`       |3DS Init Browser Authenticate                       |\n| `pcx:three_d_secure:no_scope`          |Un Authenticated API call                           |\n| `pcx:three_d_secure:status:read`       |3DS Status check                                    |\n| `pcx:tokenize:*`                       |Tokenize all types of payment data                  |\n| `pcx:tokenize:ach`                     |Tokenize ach data                                   |\n| `pcx:tokenize:card`                    |Tokenize card data                                  |\n| `pcx:webhooks:*`                       |Perform all Webhook related actions                 |\n| `pcx:webhooks:create`                  |Create a Webhook                                    |\n| `pcx:webhooks:delete`                  |Delete a Webhook                                    |\n| `pcx:webhooks:read`                    |View Webhook details                                |\n| `pcx:webhooks:trigger`                 |Trigger a Webhook                                   |\n| `pcx:webhooks:update`                  |Update a Webhook                                    |\n",
    "parameters": [
     {
      "$ref": "#/components/parameters/AccountId"
     },
     {
      "$ref": "#/components/parameters/ApiKeyId"
     }
    ],
    "requestBody": {
     "description": "The details to be patched.",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateApiKeyRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Response Object",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiKeyExtended"
        }
       }
      },
      "links": {
       "GetAPIKey": {
        "description": "The `id` value returned in the response can be used as the `apiKeyId` parameter in `GET /api/v4/accounts/{accountId}/api-keys/{resourceId}`",
        "operationId": "getApiKey",
        "parameters": {
         "apiKeyId": "$response.body#/id"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "API Keys"
    ],
    "summary": "Delete an API key",
    "parameters": [
     {
      "$ref": "#/components/parameters/AccountId"
     },
     {
      "$ref": "#/components/parameters/ApiKeyId"
     }
    ],
    "operationId": "deleteApiKey",
    "description": "# Delete a single API key\n\nEndpoint to delete an API key.\n\n\n# Required Scopes\nThe API Key calling this endpoint must have one of the following scopes:\n* `pcx:api_key:*`\n* `pcx:api_key:delete`",
    "responses": {
     "204": {
      "description": "Successful operation"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid request. Please check the input parameters and try again.",
         "traceId": "b82f31d2-8a7c-4c5e-934f-17329e57a9b2",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "Invalid Input",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "401": {
      "description": "The authorization provided was invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthenticated",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authentication",
         "errorCode": 40002,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "403": {
      "description": "The authorization provided is not allowed to perform this operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Unauthorized",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "authorization",
         "errorCode": 40003,
         "value": "Authorization",
         "source": "headers",
         "details": []
        }
       }
      }
     },
     "404": {
      "description": "The requested resource cannot be found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "The requested entity was not found",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "not_found",
         "errorCode": 40005,
         "value": "000000000001",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "422": {
      "description": "There was a problem validating your request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Invalid Input",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "invalid_request",
         "errorCode": 40001,
         "value": "The request contained invalid data",
         "source": "request",
         "details": [
          {
           "message": "Payload schema violation: property \\\"random\\\" is unsupported",
           "source": "random",
           "value": null
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "An unexpected error occurred on the server, preventing the request from being processed successfully.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApiViolation"
        },
        "example": {
         "message": "Internal Server Error, Retry or call Bluefin support.",
         "traceId": "a3692f21-950b-453c-9216-88198e84b5a6",
         "errorType": "internal_server_error",
         "errorCode": 40004,
         "value": "Server Error",
         "source": "request",
         "details": []
        }
       }
      }
     },
     "default": {
      "description": "Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "security": [
     {
      "basicAuth": []
     }
    ]
   }
  },
  "/api/v4/api-key-scopes": {
   "get": {
    "tags": [
     "API Keys"
    ],
    "summary": "Lists API Key Scopes and their meta data.",
    "security": [
     {
      "basicAuth": []
[...]
